.Block {
  color: var(--grey-dark);
  margin-top: 10.5px;

  & p {
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  & > .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--grey-light);
    padding: 0.7em 0;
    margin-bottom: 0.5em;

    & > h3 {
      flex-grow: 1;
      margin-bottom: 0;
      font-size: inherit;
      font-weight: 600;
      color: var(--grey-dark);
      padding: 5px 0;
    }

    & .plus {
      color: inherit;

      &:hover {
        color: var(--highlight-color);
      }
    }

    & .addButton {
      display: none;
    }

    &:hover .addButton {
      display: unset;
    }
  }

  & .main {
    & .markdown {
      & blockquote {
        position: relative;
        margin-left: 22px;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: var(--grey);
          left: -20px;
        }
      }

      & ul,
      & ol {
        padding-left: 22px;
      }
    }
  }

  &.first {
    & .head {
      padding: 0;
      border-bottom: none;
      margin-bottom: 1.3em;

      & h3 {
        font-size: var(--font-size-large);
        font-weight: 600;
        color: var(--grey-dark);
      }
    }
  }

  &.list .head {
    margin-bottom: 0;
  }

  & .show-all {
    margin-top: 0.6em;
    font-size: var(--font-size-small);
  }

  &.collapsible.plus.collapsed .main {
    display: none;
  }

  & .Comment {
    border-bottom: 1px solid var(--grey-light);
    margin-bottom: 0.5em;

    & .head {
      font-size: var(--font-size-small);
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  /* styling of comments form, mostly as interim solution before json-pointer-form style is revised in general */

  & .Comments {
    & .Forms {
      font-size: var(--font-size);

      & h1 {
        display: none;
      }

      & input[type="submit"] {
        margin-top: 0;
        border-color: var(--action-color);
        background-color: var(--action-color);
        font-weight: normal;

        &:hover {
          background: white;
          color: var(--action-color);
        }
      }

      & fieldset > legend {
        font-weight: normal;
      }
    }
  }
}
