.Country {
  position: relative;
  padding-right: 40px;

  & h3 {
    display: inline;
    margin: 0;
  }

  & .closePage {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 2rem;
  }

  & .countryFlag {
    width: 25px;
    margin-right: 10px;
    position: relative;
  }

  & h4 {
    position: relative;

    & i {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  & .countryBlock {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  & .frame {
    position: relative;
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border: 1px solid var(--blue-dark);

    & i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    & img {
      width: 100%;
      height: 100%;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      visibility: hidden;
      background-color: var(--white);
      object-fit: contain;
      position: absolute;
      z-index: 1;

      &.Person {
        object-fit: cover;
      }

      &.visible {
        visibility: visible;
      }
    }
  }

  & .text {
    margin-left: 10px;
  }

  & > div:last-child h4 {
    margin-bottom: 0;
  }
}
