.Diff {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  z-index: 1007;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  & .diffContent {
    overflow: hidden;
    flex-grow: 1;
    display: flex;

    & .diffList {
      overflow: hidden;
      flex: 1.5;

      & .logBlock {
        display: flex;
        width: 100%;
        padding: 20px 10px;
        border-radius: 2px;
        border: 1px solid var(--blue-light);
        margin-bottom: 10px;
        flex-wrap: wrap;

        & b {
          color: var(--blue-light);
        }

        & > div:first-child {
          flex: 1;
          max-width: 100%;
        }

        & > div:last-child {
          flex-basis: 50px;
          display: flex;
          justify-content: space-around;
        }
      }
    }

    & .diffView {
      flex: 3;
      border-left: 1px solid var(--blue-lightest);

      & ins {
        background-color: color-mix(var(--green) a(50%));
      }

      & del {
        background-color: color-mix(var(--red) a(50%));
      }
    }
  }

  & .footer {
    padding: 10px 20px;
    text-align: right;
    border-top: 1px solid var(--blue-dark);
  }

  & .scroll {
    overflow: auto;
    height: 100%;
    padding: 20px;
  }

  @media print {
    display: block;
    position: relative;

    & .diffContent {
      display: block;

      & .diffList {
        width: 100%;
      }
    }
  }

  @media screen and (--mobile-breakpoint) {
    display: block;
    position: relative;

    & .diffContent {
      display: block;

      & .diffList {
        width: 100%;
      }
    }
  }
}
