.Error {
  border: 1pt solid var(--orange);
  border-radius: 2pt;
  padding: 4pt;
  margin-top: 2pt;
  margin-bottom: 10pt;

  & button {
    margin-top: 4pt;
    margin-bottom: 4pt;
  }

  & .clipboardButtonContainer {
    display: flex;
    align-items: center;

    & .clipboardButton {
      margin-right: 4pt;
    }
  }

  & .message {
    color: var(--orange);
  }

  & details {
    text-align: left;

    & summary {
      cursor: pointer;
    }

    & pre {
      max-height: 280pt;
      overflow-y: auto;
    }
  }
}
