#filter-sidebar {
  height: fit-content;
  max-height: 100%;
  overflow: auto;

  & .toggleList {
    display: none;
    position: absolute;
    left: 251pt;
    top: 20pt;
    z-index: 2;
    background-color: var(--white);
    border: none;
    padding: 5px;
    color: var(--blue-dark);

    & i {
      pointer-events: none;
    }
  }

  & .FilterBox {
    margin-bottom: 10px;
    border-radius: 2px;
    background: rgb(255 255 255);
    padding: 15px;
    color: var(--blue-dark);

    & h2 {
      color: var(--blue-dark);
    }

    & .count {
      color: var(--blue-light);
    }
  }

  & aside {
    min-width: 335px;
    max-height: 100%;
    flex: 1;
    padding: 10pt;
    font-size: 0.8rem;
    position: relative;

    /* Place above Leaflet map and below menus */
    z-index: 500;

    @media screen and (--desktop-breakpoint) {
      max-width: 300pt;
    }

    @media screen and (--mobile-breakpoint) {
      padding-right: 0;
      width: 100%;
      background-color: var(--grey-lightest);
      display: none;

      & .close {
        display: flex;
        justify-content: end;
        padding-right: 10pt;

        & .btn i {
          font-size: 16pt;
        }
      }
    }
  }

  @media screen and (--mobile-breakpoint) {
    &.show aside {
      display: block;
    }
  }
}

.mainContent.mapView {
  & #filter-sidebar {
    @media only screen and (--desktop-breakpoint) {
      & aside {
        width: 240pt;
        background-color: var(--white);
      }

      & .toggleList {
        display: block;

        /* Place above Leaflet map */
        z-index: 1003;
        width: 20pt;
      }
    }
  }

  @media only screen and (--desktop-breakpoint) {
    &.collapsed {
      & #filter-sidebar {
        & .toggleList {
          left: 0;
        }

        & aside {
          min-width: 0;
          width: 0;
          overflow: hidden;
          padding: 0;

          /* Hide the content while is collapsed */
          &::after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            background-color: var(--white);
          }
        }
      }
    }
  }
}

@media screen and (--mobile-breakpoint) {
  #filter-sidebar {
    width: 0;

    &.show {
      width: 100vw;
    }
  }
}
