@import "../colors.pcss";

@import "FormsStructure.pcss";

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.Form {
  & input[type="text"],
  & input[type="number"],
  & input[type="password"],
  & textarea {
    border-color: var(--blue-dark);
  }

  & input[type="checkbox"]:focus {
    outline: 1px dotted gray;
  }

  & input[type="number"] {
    line-height: 1.27;
  }

  & .asterisk {
    color: orange;
    font-size: 2em;
    line-height: 0;
    position: relative;
    top: 7px;
  }

  & .fieldDescription {
    color: var(--grey-dark);
    font-size: var(--font-size-xs);
  }

  & .icon-container {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .LocalizedString {
    margin-bottom: 6pt;

    & .SimpleMDE {
      & p {
        margin-top: 18px;
      }

      & ul {
        list-style-type: initial;
        padding: 0 0.5em;
        margin-left: 1em;

        & li {
          margin-bottom: initial;
        }
      }

      & img {
        max-width: 100%;
      }

      & .editor-toolbar {
        border-color: var(--blue-dark);
        opacity: 1;

        & button {
          font-size: var(--font-size);
          color: var(--blue-dark) !important;
          width: 25px;
          height: 25px;
          border: none;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius);
          background-color: var(--white);

          &:hover {
            border: 1px solid var(--grey);

            & i {
              color: var(--orange);
            }
          }

          &::before {
            line-height: 25px;
          }
        }

        &::before,
        &::after {
          margin-top: 4px;
          margin-bottom: 0;
        }
      }
      & .CodeMirror-wrap {
        color: var(--blue-dark);
        border-color: var(--blue-dark);
        border-radius: 0;
        z-index: 0;
        min-height: 0;
      }

      & .CodeMirror-fullscreen {
        z-index: 9;
      }

      & .CodeMirror-scroll {
        min-height: 0;
      }

      & + .DropdownSelect {
        & .toggleDropdown,
        & .selectedContainer {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
      }
    }
  }

  & .Error {
    margin: 6pt 0;
  }

  & .error.pulsating {
    animation-name: pulse;
    animation-duration: 0.6s;
    animation-easing-function: ease-in-out;
    animation-iteration-count: 10;
  }
  @media (prefers-reduced-motion) {
    & .error.pulsating {
      animation: none;
    }
  }

  & .LocalizedString .Textarea,
  & .LocalizedString .Input {
    position: relative;
    margin-bottom: 10px;
    & + select {
      border: 1px solid var(--blue-dark);
      background-color: var(--white);
      border-radius: var(--border-radius);
      color: var(--blue-dark);
    }
    & label {
      position: absolute;
      right: 4px;
      top: 2px;
      color: var(--grey-dark);
      font-size: var(--font-size-xs);
      padding: 0;
      display: inline-block;
      font-weight: unset;
    }

    /* Workaround because the library Flag Icons also uses the class "fi" */
    &.fi {
      width: 100%;
    }
  }

  & .Builder > .Fieldset > .label {
    display: none;
  }

  & .List {
    & ul {
      & li {
        margin-bottom: 10px;
      }

      &.optionsContainer li {
        margin-bottom: 0;
      }

      & li:last-child {
        margin-bottom: 0;
      }
    }

    &.hasError {
      & .Input.text input[type="text"],
      & .RemoteSelect input[type="text"],
      & .LocalizedString .SimpleMDE .CodeMirror-wrap,
      & .LocalizedString .SimpleMDE .editor-toolbar {
        border-color: var(--orange);
      }

      & .LocalizedString button,
      & .dropdownContainer button {
        background-color: var(--orange);
      }
    }
  }

  & .optionsContainer ul li {
    margin-bottom: 0;

    & label {
      border-bottom: 1px solid #0f578a;

      & > i {
        padding-right: 5px;
      }
    }
  }

  & .List.name,
  & .List.alternateName {
    & .Input.text input {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      border-right: 0;
      height: 100%;
    }

    & .toggleDropdown,
    & .selectedContainer {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      height: 100%;
    }
  }

  & .LocalizedString button,
  & .dropdownContainer button,
  & .DateTime .Inputs input[type="text"],
  & .DateTime .Inputs input[type="date"],
  & .DropdownSelect .Inputs input[type="text"] {
    border-color: var(--orange);
  }

  & .toggleDropdown,
  & .selectedContainer {
    border-radius: var(--border-radius);
    text-align: left;
  }

  & .DropdownSelect {
    & .toggleDropdown {
      border: none;
      background-color: var(--blue-dark);
      color: var(--white);
      padding: 7px 10px;
      position: relative;
      padding-right: 30px;
      font-weight: 600;
      font-size: var(--font-size-small);
      line-height: var(--line-height-forms);

      &:hover,
      &:focus {
        background-color: var(--orange);
      }

      &.error {
        color: var(--orange);

        &::after {
          color: var(--white);
        }
      }

      & .icon-container {
        right: 10px;
        font-size: var(--font-size);
      }
    }

    & .dropdownList {
      width: 400px;
      top: calc(100% + 5px);
      margin-bottom: 20px;
      background-color: var(--white);
      border-radius: var(--border-radius);
      border: 1px solid var(--blue-dark);
      max-width: calc(100vw - 55px);

      & > .filterContainer {
        position: relative;

        & input[type="text"] {
          border: none;
          padding-right: 30px;
          border-bottom: 1px solid #0f578a;
          border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &::after {
          font-family: FontAwesome;
          content: "\f002";
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-51%);
          pointer-events: none;
          color: var(--blue);
        }
      }

      & li {
        border-bottom: 1px solid #0f578a;

        & label {
          display: block;
          padding: 5px 10px;
          font-size: var(--font-size);
          line-height: var(--line-height-forms);

          &:hover,
          &:focus {
            background-color: var(--blue-dark);
            color: var(--white);
          }
        }
      }

      & li:last-child {
        & label {
          border-bottom: none;
        }
      }
    }
  }

  & .selectedContainer {
    background-color: var(--blue-dark);
    color: var(--white);
    position: relative;

    &:hover,
    &:focus {
      background-color: var(--orange);
    }

    & label {
      padding: 7px 10px;
      padding-right: 30px;
      color: var(--white);
      font-weight: 600;
      font-size: var(--font-size-small);
      line-height: var(--line-height-forms);
      height: 100%;
      display: flex;
      align-items: center;

      & > i {
        padding-right: 5px;
      }
    }

    & .icon-container {
      right: 10px;
    }
  }

  & .selectContainer {
    position: relative;

    & .optionsContainer {
      position: absolute;
      background-color: var(--white);
      border-radius: var(--border-radius);
      border: 1px solid var(--blue-dark);
      top: calc(100% + 5px);
      z-index: 1;
      width: 100%;

      & li {
        & label {
          border-bottom: 1px solid #0f578a;
          display: block;
          font-size: var(--font-size);
          line-height: var(--line-height-forms);

          &:hover,
          &:focus {
            background-color: var(--blue-dark);
            color: var(--white);
          }
        }
      }
    }
  }

  & .Textarea {
    & > label {
      display: none;
    }

    & > textarea {
      width: 100%;
      max-width: 100%;
      resize: vertical;
      min-height: 100px;
      vertical-align: top;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    & + .DropdownSelect {
      & .toggleDropdown,
      & .selectedContainer {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }
    }
  }

  & .newItemWrapper {
    & > button {
      color: var(--blue);
      padding: 0;
      font-size: var(--font-size-xs);
      border: none;
      background-color: unset;

      &:hover,
      &:focus {
        color: var(--orange);
      }
    }
  }

  & .RemoteSelect {
    & > .label {
      display: none;
    }

    & .filterContainer {
      position: relative;

      & .fa {
        pointer-events: none;
        color: var(--blue);
      }

      &.dropdown {
        & .filter {
          padding-right: 30px;
        }

        & .icon-container {
          right: 10px;
        }
      }

      &.search {
        & .filter {
          padding-left: 30px;
        }

        & .icon-container {
          left: 10px;
        }
      }
    }
  }

  & .error {
    color: var(--orange);

    & + input {
      border-color: var(--orange);
    }
  }

  & .agree {
    color: var(--grey-dark);
    padding-top: 20px;
    padding-bottom: 10px;
  }

  & .buttons {
    margin-top: 20px;
  }

  /* Custom Elements */

  & .DropdownSelect.rights .label,
  & .RemoteSelect.isPartOf .label,
  & .DropdownSelect.addressCountry .label,
  & .DropdownSelect.addressRegion .label,
  & .DropdownSelect.spatialCoverage .label {
    display: block;
  }

  & .List.isFundedBy > .label,
  & .List.isFundedBy > ul > li > .Fieldset > .label {
    display: none;
  }

  & div.location > ul {
    margin-left: 1em;
    & div.label {
      font-size: 95%;
    }
  }

  & .formButtons {
    display: flex;
    justify-content: space-between;

    & .primaryButtons > .btn {
      margin-right: 10px;

      &.prominent {
        background-color: var(--blue);
        color: var(--white);

        &:hover,
        &:focus {
          border-color: var(--orange);
          background-color: var(--orange);
        }
      }
    }

    & .btn.delete {
      border-color: var(--red);
      color: var(--red);

      &:hover,
      &:focus {
        background-color: var(--red);
        color: var(--white);
      }
    }
  }

  & .location {
    & .locationForm {
      & > .selectContainer {
        & label {
          padding: 10px;
        }
      }

      & .divided {
        display: flex;

        & div:last-child {
          margin-left: 15px;
          flex: 2;
        }
      }

      & .Input {
        padding-bottom: 10px;

        & > label,
        &.postOfficeBoxNumber,
        &.addressRegion {
          display: none;
        }
      }
    }

    & .geo {
      display: none;
    }
  }

  & .KeywordSelect {
    & .Select-control,
    & .select {
      border-color: var(--blue-dark);
      border-radius: var(--border-radius);
      padding-left: 30px;

      & .Select-placeholder {
        padding-left: 30px;
      }

      &::after {
        font-family: FontAwesome;
        content: "\F002";
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-51%);
        pointer-events: none;
        color: var(--blue);
      }
    }

    & .Select-value {
      color: var(--white);
      border-color: var(--blue-dark);
      background-color: var(--blue-dark);
    }

    & .Select-arrow-zone {
      color: var(--blue-dark);
    }

    & .Select.is-focused:not(.is-open) > .Select-control {
      border-color: var(--blue-dark);
    }

    & .Select-input > input {
      background-color: transparent;
      padding: 8px 0;
    }

    & .Select-menu-outer {
      border-color: var(--blue-dark);

      & .Select-menu .Select-option {
        border-bottom: 1px solid var(--blue-dark);
        color: var(--blue-dark);

        &.is-focused {
          color: var(--white);
          background-color: var(--blue-dark);
        }
      }

      & .Select-menu .Select-option:last-child {
        border-bottom: none;
      }
    }
  }

  & .Input.checkbox {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    align-items: baseline;
    cursor: pointer;

    & label {
      flex: 1;
      cursor: pointer;
    }

    & input[type="checkbox"] {
      max-width: 25px;
      position: relative;
      top: 2px;
      cursor: pointer;
    }
  }

  & .needHelp {
    display: block;
    border-bottom: 1px solid var(--blue-dark);
    padding-bottom: 20px;
    font-size: var(--font-size-small);
    color: var(--blue-dark);
  }

  & .mapContainer {
    border: 1px solid var(--blue-dark);
    border-radius: var(--border-radius);
    z-index: 0;
  }
}

.registerForm {
  & .Builder > .Fieldset > .label {
    display: block;
  }

  & .Input.checkbox.hasError {
    position: relative;

    & > label {
      position: relative;
      top: 20px;
      margin-bottom: 20px;
    }

    & .error {
      position: absolute;
      top: 0;
      left: 26px;
    }
  }

  & .Fieldset .Input.password,
  & .Fieldset .Input.text {
    margin-bottom: 10px;

    & label {
      display: none;
    }
  }

  & .DropdownSelect.location {
    margin-bottom: 10px;
  }
}

.forgotPassword {
  & .Builder > .Fieldset > .label {
    display: block;
  }

  & .Fieldset .Input.text {
    margin-bottom: 10px;

    & label {
      display: none;
    }
  }
}

.LocalizedString div.error {
  display: block;
}
