.FullModal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 55%);
  width: 100%;
  height: 100%;
  z-index: 1005;
  overflow: auto;

  & .modalDialog {
    background-color: var(--white);
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    padding: 40px;
    border: 1px solid var(--blue-dark);
    border-radius: 2px;
    position: relative;

    & .closeModal {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
      border: none;
      color: var(--grey-light);
      background-color: transparent;
      font-size: 30px;
      font-weight: 600;

      &:hover {
        color: var(--orange);
      }
    }
  }

  @media print {
    position: relative;
    background-color: transparent;

    & .modalDialog {
      box-shadow: none;
      border: none;
      max-width: 100%;
      margin: 0;

      & .more {
        display: none;
      }
    }

    & a.btn,
    & button,
    & .closeModal {
      display: none;
    }
  }

  @media screen and (--mobile-breakpoint) {
    & .modalDialog {
      overflow: auto;
      box-shadow: none;
      border: none;
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      position: fixed;
      width: 100%;
      height: calc(100% - 40px);
      top: 40px;
    }
  }
}
