.Header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--blue-dark);
  position: relative;
  padding: 0 calc(var(--column-padding) - 10px) 0 var(--column-padding);

  & a,
  & button {
    color: var(--white);
  }

  & .headerTitle {
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    font-weight: 600;
    padding: 10px 0;
    letter-spacing: 0.15em;

    & h1 {
      font-size: var(--font-size);
      margin: 0;
      margin-right: 10px;
    }

    & .tour {
      display: inline-block;
      margin-left: 10px;
      font-weight: 600;
      font-size: var(--font-size-xs);
    }
  }

  & .secondaryNav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: fit-content;

    & > ul {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;

      & > li {
        display: flex;
        align-items: center;
        padding: 0 10px;

        & .showNotification {
          color: var(--orange);
          font-weight: 600;
          margin-left: 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        & div.btnHover {
          position: relative;
          color: white;
          pointer-events: none;
        }

        &:hover div.btnHover {
          &::before,
          &::after {
            content: "";
            display: block;
            width: 80px;
            height: 124%;
            background-color: transparent;
            position: absolute;
            z-index: 8;
            bottom: -5px;
          }

          &::before {
            left: 0;
            transform: skewY(-17deg) translateX(-100%) translateY(-50%);
          }

          &::after {
            right: 0;
            transform: skewY(17deg) translateX(100%) translateY(-50%);
          }
        }

        @media screen and (--desktop-breakpoint) {
          &.active {
            &.hasDropdown {
              background-image: url("/public/triangle.svg");
              background-size: 15px 7px;
              background-repeat: no-repeat;
              background-position: center bottom;
            }

            & .dropdown {
              display: block;
            }
          }
        }

        & > a,
        & button,
        & .btnHover {
          font-weight: 600;
          letter-spacing: 0.15em;
          font-size: var(--font-size-xs);
          display: flex;
          position: relative;
          padding: 0;
          border: none;
          background-color: transparent;

          &:focus {
            outline: 1px dotted var(--white);
          }

          & i {
            pointer-events: none;
          }
        }
      }

      & > li.hasDropdown:nth-last-child(2) div.btnHover::after {
        content: none;
      }
    }
  }

  & .userMenu {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    top: 100%;
    right: 0;
    width: 170px;
    background-color: var(--white);
    border: 1px solid var(--blue-dark);
    z-index: 6;
    border-radius: 0 0 2px 2px;
    border-top: none;
    font-size: var(--font-size);
    letter-spacing: 0;

    & li {
      width: 100%;
      border-bottom: 1px solid #ccc;

      & a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--blue-dark);
        width: calc(100% + 20px);
        padding: 6px 10px;
        margin: -1px -10px;

        &:hover,
        &:focus {
          color: var(--white);
          background-color: var(--blue-dark);
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  & .menuToggle {
    padding: 0 10px;
    border: none;
    background-color: transparent;

    & i {
      pointer-events: none;
    }
  }

  & .dropdown {
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1007;
    width: 100%;
    display: none;
    box-shadow: 0 10px 15px -5px rgba(0 0 0 / 10%);

    & .inner {
      max-width: calc(var(--inner-width) + 2 * var(--column-padding));
      padding: 1.5em var(--column-padding) 3em var(--column-padding);
      margin: 0 auto;
      color: var(--primary-color);

      & a {
        color: var(--primary-color);

        &:hover,
        &:focus {
          color: var(--orange);
        }
      }

      & .popular {
        display: flex;
        justify-content: space-between;
        padding: 0 0 0.5em;

        & ul {
          list-style: none;
          padding: 0;
          display: flex;
          font-weight: 600;
          margin: 0 -10px;

          & li {
            text-align: center;
            margin: 0 10px;

            & a:hover,
            & a:focus {
              & > .i .orangeLighthouse {
                display: inline-block;
              }

              & > .i .blueLighthouse {
                display: none;
              }
            }

            & a > .i img {
              position: relative;
              top: 3px;

              &.orangeLighthouse {
                display: none;
              }
            }
          }
        }
      }

      & h3 {
        font-size: var(--font-size);
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;

        & i {
          font-size: calc(var(--font-size) - 1px);
        }

        & a {
          display: block;
        }
      }

      & .ConceptBlock h3 {
        padding-top: 0.5em;
        padding-bottom: 0.4em;
      }

      & .addBox {
        display: block;
        padding: 0.9em 1.3em;
        border: 1px solid var(--grey-light);
        height: 100%;

        & h3 {
          padding-bottom: 0;
        }

        &:hover {
          border-color: var(--orange);
        }

        & p {
          margin-top: 0.7em;
          margin-bottom: 0;
        }
      }
    }
  }

  & .mobile {
    display: none;
  }

  @media print {
    display: block;
    text-align: center;

    & nav {
      display: none;

      &:first-child {
        display: block;
        width: 100%;
      }
    }

    & .loginLink,
    & .menuBtn {
      display: none;
    }
  }

  @media screen and (--mobile-breakpoint) {
    & .userMenu {
      width: 100%;
      border-left: none;
      border-right: none;
    }

    & .headerTitle a:last-child {
      display: none;
    }

    & .mainNav {
      display: none;
    }

    & .secondaryNav {
      position: absolute;
      display: none;
      left: 0;
      top: 100%;
      z-index: 1005;
      background-color: var(--blue-dark);
      width: 100%;
      text-align: left;
      border-top: 1px solid var(--white);

      & > ul {
        display: block;

        & > li {
          display: block;
          padding: 0;
          border-bottom: 1px solid var(--white);

          & > a,
          & > button,
          & > .btnHover {
            padding: 10px var(--column-padding);
            text-align: left;
            font-size: var(--font-size);
            font-weight: 400;
            width: 100%;
            display: block;
          }

          &.languageSelector span {
            & > i {
              display: none;
            }

            & > ul {
              position: unset;
              display: flex;
              justify-content: space-evenly;

              & li {
                flex: 1;

                & a {
                  background-color: var(--blue-dark);
                  color: var(--white);
                  padding: 10px;
                  border-right: 1px solid var(--white);
                }
              }

              & li:last-child a {
                border-right: none;
              }
            }
          }

          & .dropdown {
            position: static;

            & .popular {
              display: block;

              & ul {
                display: block;

                & li {
                  margin-bottom: 0.7em;
                }
              }
            }
          }

          &.active {
            & .dropdown {
              display: block;
            }
          }
        }
      }

      &.show {
        display: block;
      }

      & a {
        display: block;
        border-bottom: 1px solid var(--white);
      }

      & a:last-child {
        border-bottom: none;
      }
    }

    & .mobile {
      display: unset;
    }
  }

  & .languageSelector {
    color: var(--white);

    & span {
      position: relative;
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: 1px solid var(--blue-dark);
      position: absolute;
      top: calc(100% + 10px);
      z-index: 1007;
      text-align: center;
      display: none;
      font-weight: normal;

      & li {
        margin: 0;

        & input[type="radio"] {
          display: none;

          &:checked + label {
            color: var(--orange);
          }
        }

        & a {
          cursor: pointer;
          border-bottom: 1px solid var(--blue-dark);
          display: block;
          padding: 10px;
          color: var(--blue-dark);
          background-color: white;

          &:hover {
            background-color: var(--blue-dark);
            color: var(--white);
          }
        }
      }

      & li:last-child a {
        border-bottom: 0;
      }
    }

    &:hover ul {
      display: block;
    }
  }
}
