.ItemList {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  overflow: auto;
  flex: 1;

  & li {
    padding: 0 10px;

    & .item span {
      padding-left: 5px;
    }

    & a {
      color: var(--primary-color);
      flex: 1;

      &:focus,
      &:hover {
        color: var(--highlight-color);
      }
    }

    & .itemListImage {
      min-width: auto;
      min-height: auto;
      margin: 0 10px;

      & a {
        text-align: center;

        & .missingImg {
          height: 45px;
          width: 45px;
          line-height: 45px;
          margin: 0 auto;
          border-radius: 50%;
          font-size: var(--font-size);
          background: var(--blue-light);
        }

        & img {
          border-radius: 50%;
          min-width: 45px;
          max-width: 45px;
          min-height: 45px;
          max-height: 45px;
          left: 50%;
          transform: translateX(-50%) scale(1.03);
          background-color: var(--white);
        }
      }
    }

    &:hover .itemListImage a .missingImg {
      background-color: var(--highlight-color);
    }
  }

  &.noIcon li a span {
    padding-left: 0;
  }

  &.prominent {
    & li {
      padding: 0.35em 0;
      overflow: hidden;

      & .item {
        padding: 0.7em 0;
        display: flex;
        align-items: center;

        & > i {
          margin: 0 10px;
          border-radius: 100%;
          width: 45px;
          height: 45px;
          font-size: var(--font-size);
          line-height: 45px;
          background-color: var(--blue-light);
          color: white;
          text-align: center;
          display: inline-block;
        }

        & > span {
          flex: 1;
          font-weight: 600;
        }

        &:hover > i {
          background-color: var(--highlight-color);
        }
      }
    }
  }

  &.recursive {
    overflow: visible;

    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & ul .item {
      padding-left: calc(1 * 2em);
    }

    & ul ul .item {
      padding-left: calc(2 * 2em);
    }

    & ul ul ul .item {
      padding-left: calc(3 * 2em);
    }

    & ul ul ul ul .item {
      padding-left: calc(4 * 2em);
    }

    & ul ul ul ul ul .item {
      padding-left: calc(5 * 2em);
    }
  }

  &.award {
    & .item {
      height: 80px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & li.expandable {
    position: relative;

    & > a {
      padding-right: 30px;
    }

    & .toggle {
      position: absolute;
      right: 10px;
      top: 3px;
      color: var(--blue-dark);

      &:hover,
      &:focus {
        color: var(--orange);
      }
    }

    & .toggle.fa-plus + ul {
      display: none;
    }
  }

  & .itemListDescription {
    font-size: var(--font-size-small);
    font-weight: normal;
    margin: 0;
  }
}

.Block.collapsible.show-all.collapsed .ItemList li {
  display: none;

  & > a {
    margin-right: 30px;
  }

  &:nth-child(-n + 3) {
    display: list-item;
  }
}

.itemListTooltip {
  max-width: 100%;
  width: 500px;
  opacity: 1;
  z-index: 2;

  @media screen and (--mobile-breakpoint) {
    display: none;
  }
}
