.Loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(var(--black) a(25%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;

  & .loadingCircle {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 999px;
    box-shadow: 0 6px 0 0 #0f578a;
    animation: uil-ring-anim 1s linear infinite;
  }

  & h1 {
    animation: fade-in 0.75s ease-in;
    animation-iteration-count: 1;
  }
}

.Loading.fullscreen {
  background-color: white;

  & .loadingCircle {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 999px;
    box-shadow: 0 6px 0 0 #0f578a;
    animation: uil-ring-anim 1s linear infinite;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes uil-ring-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
