.MapLeyend {
  width: 250px;
  height: 30px;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid var(--blue);

  & .infoContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--blue-dark);

    & span {
      padding: 0 10px;
    }
  }

  & .stepsContainer {
    display: flex;
    width: 100%;
    height: 100%;

    & .step {
      flex: 1;
    }
  }
}
