.webPageWrapper {
  a[href^="https://orcid.org"]::before
  {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url("../../../docs/assets/images/orcid.svg") no-repeat 0 0;
    background-size: 100%;
    vertical-align: middle;
  }
  a[href^="https://www.researchgate.net"]::before
  {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url("../../../docs/assets/images/researchgate.svg") no-repeat 0 0;
    background-size: 100%;
    vertical-align: middle;
  }
}
