@keyframes live {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

#map {
  font-family: var(--font-family);
  background-color: #74b9ef;
  width: 100%;
  height: 100%;

  & #custom-map-elements {
    position: absolute;

    /* Place above Leaflet map */
    z-index: 1001;
    right: 10pt;
    bottom: 20pt;
    display: flex;
    column-gap: 4pt;
  }

  & .tooltip-container {
    width: fit-content;

    & .tooltip {
      width: fit-content;
    }
  }

  & .leaflet-tooltip-right::before {
    border-right-color: var(--blue-dark);
  }

  & .leaflet-tooltip-left::before {
    border-left-color: var(--blue-dark);
  }

  & .leaflet-popup {
    max-width: 240pt !important;
    z-index: 5;

    & .leaflet-popup-content-wrapper {
      border-radius: 0;
    }

    & .leaflet-popup-tip {
      border: 1pt var(--blue-dark) solid;
    }
  }

  & .leaflet-tooltip,
  .leaflet-popup {
    border: 1px solid var(--blue-dark);
    background-color: var(--white);
    width: fit-content;
    min-width: 140pt;
    color: var(--blue-dark);
    font-family: var(--font-family);

    & a {
      color: var(--blue-dark);
      white-space: break-spaces;
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 15px;
      min-width: 100%;

      &.list {
        width: fit-content;
      }

      &.list li {
        width: 200pt;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
        padding-bottom: 5px;
        white-space: break-spaces;

        & > i,
        & > a > i {
          width: 20px;
          margin-right: 4pt;
        }
      }

      &.list li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      & li {
        font-size: var(--font-size);

        & span.item {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-right: 20px;
        }

        & span.item:last-child {
          padding-right: 0;
        }

        &:last-child {
          border-bottom: none;
        }

        & .tooltipTitle {
          font-size: var(--font-size-large);
        }

        & .tip {
          font-size: var(--font-size-xs);
        }

        & .buckets {
          border-top: 1px solid var(--blue-dark);
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          justify-content: center;
          padding: 0 5px;
          padding-top: 15px;
          margin-top: 15px;
          gap: 10pt 2pt;

          & div {
            /* width: calc(100%< / 10); */
            width: 28px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            font-size: var(--font-size-large);

            & > span {
              margin-top: 5px;
            }
          }
        }

        &.list li {
          border-bottom: 1px solid var(--blue-dark);
        }

        &.separator {
          margin-top: 5px;
          & span {
            font-size: var(--font-size-xs);
            padding-top: 15px;
            border-top: 1px solid var(--blue-dark);
            display: block;
          }
        }
      }
    }
  }

  & .overlayList {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: color-mix(var(--blue-light) a(45%));
    z-index: 1;
    pointer-events: none;
  }

  & .goToMap {
    position: absolute;
    top: 2%;
    right: 440px;
    z-index: 1;

    & a {
      margin: 20px;
      font-size: 1.5rem;
      color: var(--blue-dark);
      text-shadow: 0 0 1px var(--white);
    }
  }

  & .leaflet-popup-content {
    padding: 0;
    width: fit-content !important;
    min-width: calc(222px - 24px - 20px);
    pointer-events: none;

    &.noEvents {
      pointer-events: none;
    }

    & a:hover {
      color: var(--orange);
    }
  }

  & .live-event {
    animation-duration: 1s;
    animation-name: live;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: center;
    transform-box:fill-box;
  }

  & .imprintLink {
    position: absolute;
    right: 340px;
    bottom: 0;
    z-index: 1001;
    padding: 0 5px;
    background-color: rgba(255 255 255 / 50%);
    color: rgba(0 0 0 / 75%);
  }

  @media (prefers-reduced-motion) {
    & .live-event {
      animation: none;
    }
  }

  @media print {
    position: relative !important;
    max-height: 700px;

    & .mapLeyend {
      display: none;
    }

    & .goToMap {
      display: none;
    }
  }

  @media screen and (--mobile-breakpoint) {
    & .goToMap {
      right: 10px;
      bottom: 42px;
      z-index: 9;
      top: auto;

      & i {
        font-size: 2rem;
      }
    }
    & .mapLeyend {
      right: 82px;
      bottom: 63px;
    }

    & .imprintLink {
      display: none;
    }
  }
}
