.ResourcePreview {
  display: flex;
  justify-content: space-between;
  color: var(--blue-dark);
  word-break: break-word;
  min-width: 200pt;

  & .previewContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .previewHeader {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-size-xs);

      & .previewTypes {
        flex: 1;
      }
    }

    & .previewTitle {
      font-size: var(--font-size-large);
      font-weight: 600;
      display: block;
      color: var(--blue-dark);
    }

    & .previewLocation {
      font-size: var(--font-size);
    }
  }
}
