#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#reactive-resource-index {
  flex-grow: 2;
  display: flex;
  position: relative;
  min-height: 0;

  & #mode-toggle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4pt;
    right: 6pt;
    z-index: 1006;
    padding-top: 2pt;

    @media screen and (--mobile-breakpoint) {
      position: absolute;
      top: 0;
      right: 2vw;
    }

    & h3 {
      margin: 0;
    }

    & .rightButtons {
      display: flex;
      align-items: center;

      & button,
      & select {
        border: none;
        color: var(--blue-dark);
        background-color: var(--white);
        margin-left: 5px;

        &:disabled {
          cursor: not-allowed;
          color: var(--white);
          background-color: var(--highlight-color);
        }
      }

      & .select-wrapper {
        position: relative;

        &::before {
          font-family: FontAwesome;
          font-size: 8pt;
          content: "\f078";
          color: var(--blue-dark);
          pointer-events: none;
          position: absolute;
          top: 5pt;
          left: 10px;
        }

        & select {
          padding-left: 18px;
        }
      }
    }

    & .ShareExport {
      position: relative;
      margin-left: 10px;

      & i {
        color: var(--blue);
      }
    }

    & .btn.active {
      color: var(--blue-light);
    }

    & select {
      appearance: none;
    }
  }

  & .reactiveBase {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  & #map {
    display: none;
  }

  &.mainContent.mapView {
    & #map {
      display: block;
    }

    & .content .searchResults {
      max-width: 0;
    }
  }

  & .typeButtons {
    position: absolute;
    bottom: 64pt;
    left: 10px;
    z-index: 1002;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    margin: 0;
    padding: 2pt 0;
    height: fit-content;
    background-color: rgb(255 255 255);
    border: 2px solid rgba(0 0 0 / 20%);
    background-clip: padding-box;
    border-radius: 4px;

    & a {
      position: relative;
      font-weight: 400;
      color: #3c3c3c;
      text-transform: uppercase;
      margin: 0;
      padding: 3pt;
      font-size: var(--font-size);
      min-height: 0;
      height: fit-content;
      transition: none;
      cursor: pointer;
      background-color: transparent;
      width: 30px;
      min-width: 30px;
      border: none;
      border-bottom: 1px solid #ccc;

      &.active {
        color: var(--blue-dark);

        &::before {
          color: var(--blue-dark);
        }
      }

      &:focus {
        outline: 1px dotted var(--blue-dark);
        border: none;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
      }
    }

    & a:last-child {
      border-bottom: none;
    }

    & a::before {
      font-family: FontAwesome;
      content: "";
      color: #3c3c3c;
    }

    & a:hover {
      color: var(--orange);

      &::before {
        color: var(--orange);
      }
    }

    & a:nth-child(1)::before {
      /* Service */
      content: "\f108";
    }

    & a:nth-child(2)::before {
      /* Tool */
      content: "\f0ad";
    }

    & a:nth-child(3)::before {
      /* Event */
      content: "\f073";
    }

    & a:nth-child(4)::before {
      /* Project */
      content: "\f085";
    }

    & a:nth-child(5)::before {
      /* Organization */
      content: "\f0c0";
    }

    & a:nth-child(6)::before {
      /* Person */
      content: "\f007";
    }

    & a:nth-child(7)::before {
      /* Policy */
      content: "\f24e";
    }

    @media only screen and (--mobile-breakpoint) {
      flex-wrap: nowrap;

      & a {
        overflow: hidden;
        width: 40px;
        height: 40px;
        color: transparent;
        padding-right: 0;

        &:hover {
          color: transparent;
        }

        &.active {
          color: transparent;
        }
      }

      & a::before {
        position: absolute;
        margin-right: 0;
      }
    }
  }

  @media screen and (--mobile-breakpoint) {
    & .typeButtons {
      flex-direction: column;
      top: 44pt;
    }
  }

  @media screen and (--mobile-breakpoint) {
    & #mode-toggle {
      top: 44pt;
    }
  }

  &.mainContent {
    & .content {
      height: 100%;
      width: fit-content;

      & .searchResults {
        width: 340pt;

        label {
          padding-right: 15px;
        }
      }

      @media screen and (--mobile-breakpoint) {
        & .searchResults {
          position: relative;
          top: 80pt;
        }
      }
    }

    &:not(.mapView) .content {
      display: flex;
      position: relative;
      max-width: 1000px;
      width: inherit;
      margin: 0 auto;
    }

    @media screen and (--desktop-breakpoint) {
      &:not(.mapView) > .content {
        top: 40pt;
      }
    }
  }

  & .mainContent.listView {
    & .listResults:not(.hidden-mobile) {
      display: block;
      width: 100%;
    }
  }

  & .mainContent.statisticsView {
    & .statisticsContent {
      display: block;
    }

    & .graphContainer {
      text-align: center;
      position: relative;

      & h2 {
        text-align: left;
      }

      & .graphControls {
        position: absolute;
        top: 0;
        right: 0;

        & .btn {
          margin-left: 5px;
        }
      }
    }

    & .graphContainer:last-child {
      margin-bottom: 20px;
    }
  }

  & .right {
    height: 100%;
    flex: 3;
    flex-grow: 1;
    display: flex;

    @media screen and (--mobile-breakpoint) {
      margin-top: 80pt;
    }
  }

  & .ResultList {
    padding: 0;

    & li {
      background-color: var(--white);
      border-radius: 2px;
      padding: 20px;
      border-bottom: none;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  & .ResultList + div {
    margin-bottom: 40px;

    & a {
      &.active {
        background-color: var(--blue-dark);
        transition: none;
      }

      &:focus {
        outline: 1px dotted var(--blue-dark);
        box-shadow: none;
        border: none;
      }
    }
  }

  h3 {
    margin: 0;
  }

  & h3,
  & h4 {
    color: var(--blue-dark);
  }

  & .typeSearch {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    & a {
      color: rgb(152 152 152);
      background-color: transparent;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
      transition: none;

      &:focus {
        background-color: transparent;
        transition: none;
        outline: 1px dotted gray;
        border: none;
        box-shadow: none;
      }

      &.active {
        color: var(--blue-dark);
      }

      &:hover {
        background-color: transparent;
        color: var(--orange);
      }
    }
  }

  & .selectedFilters {
    background-color: #cbe8f8;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: var(--blue-dark);

    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    & .clearAll {
      margin-top: 5px;
      border: none;
      background-color: transparent;
      color: var(--blue);
    }

    & .selectedFilter {
      & button {
        color: var(--blue-dark);
        border: none;
        background-color: transparent;
        padding-left: 25px;
        position: relative;
        text-align: left;
        margin-bottom: 10px;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          transform: translateY(-50%);
          background-color: var(--white);
          top: 50%;
          left: 0;
        }

        &::after {
          content: "x";
          position: absolute;
          width: 15px;
          height: 15px;
          transform: translateY(-50%);
          top: 50%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
        }
      }
    }

    & h2 {
      color: var(--blue-dark);
      font-size: 1rem;
    }
  }

  & .ReactivePieChart {
    margin-bottom: 20px;
  }
}

.mainContent.listView #filter-sidebar {
  overflow: unset;
}
