.ResourceImage {
  min-width: 90px;
  min-height: 90px;
  max-height: 90px;
  margin-right: 15px;
  position: relative;

  & > a {
    width: 100%;
  }

  & .missingImg {
    width: 100%;
    height: 100%;
    color: var(--white);
    background: linear-gradient(
      130deg,
      rgba(186 240 255 / 100%) 0%,
      rgba(125 185 232 / 100%) 72%,
      rgba(125 185 232 / 100%) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xxxl);
    border-radius: var(--border-radius);
  }

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    object-fit: contain;
    border-radius: var(--border-radius);

    &.Person {
      object-fit: cover;
    }
  }
}
