.ResultList {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  flex: 1 1 100px;

  & .centerIcon {
    text-align: center;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
  }

  & li {
    margin: 20px 0;
    padding: 0 10px;
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 15px;

    & .resultListTitle {
      margin-bottom: 5px;
      font-size: var(--font-size);
      display: flex;
      align-items: center;
      justify-content: space-around;

      & a {
        color: var(--blue-dark);
        flex: 1;
      }

      & i {
        color: var(--blue-dark);
      }
    }

    & .resultListLocation {
      font-size: var(--font-size-small);

      & i {
        font-size: var(--font-size);
        color: var(--blue);
      }
    }

    & .resultListCounts {
      padding-left: 5px;
      color: var(--grey);
      display: flex;

      & > div {
        display: flex;
        align-items: center;
        margin-right: 10px;

        & > span {
          padding-left: 5px;
        }
      }

      & i {
        color: var(--grey);
      }
    }

    & .resultListDescription {
      margin-top: 15px;
      font-size: var(--font-size-small);
    }
  }

  & li:last-child {
    border-bottom: none;
  }
}
