.Header {
  & #reactive-searchbar {
    display: none;

    & .nameSearch {
      z-index: 1005;
    }
  }

  @media screen and (--desktop-breakpoint) {
    & #reactive-searchbar {
      display: block;
      flex-grow: 2;
      margin: 0 10pt;
      max-width: 600pt;

      & .nameSearch {
        height: fit-content;
        width: 100%;
        position: relative;
        top: 4pt;
      }
    }
  }
}

#reactive-resource-index {
  & #reactive-searchbar {
    display: none;
  }

  @media screen and (--mobile-breakpoint) {
    & #reactive-searchbar {
      display: block;
      position: absolute;
      top: 4pt;
      left: 2vw;
      z-index: 1003;
      width: 96vw;
    }
  }
}
