.Share {
  & h2 {
    font-size: var(--font-size-xl);
  }

  & .shareContent,
  & .embedContent {
    border-radius: 2px;
    border: 1px solid var(--blue-dark);
    display: flex;
    align-items: stretch;
    font-size: var(--font-size);

    & .title {
      padding: 5px 20px;
      border-right: 1px solid var(--blue-dark);
      background-color: var(--blue-lightest);
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }

    & .content {
      padding: 5px 10px;
      flex: 1;
      background: var(--white);
    }
  }

  & .shareIcons {
    padding-top: 20px;
    text-align: center;

    & > a {
      margin: 0 10px;

      & > i {
        font-size: var(--font-size-xl);
      }
      & .fediverse {
        content: url("../../../docs/assets/images/fediverse-grey.png");
        height: 18px;
        display: inline-block;
        /* Made to #1a91e6 (blue, like all a-Tags) with https://csscolorize.com/ */
        filter: invert(40%) sepia(93%) saturate(790%) hue-rotate(173deg) brightness(98%)
          contrast(92%);
      }

      &:hover,
      &:focus {
        color: var(--orange);
      }
    }
  }
}
