.SocialLinks {
  text-align: right;
  white-space: nowrap;

  & a {
    margin-left: 15px;
  }

  & .fediverse {
    content: url("../../../docs/assets/images/fediverse-grey.png");
    height: 18px;
    display: inline-block;
    /* Made to #1a91e6 (blue, like all a-Tags) with https://csscolorize.com/ */
    filter: invert(40%) sepia(93%) saturate(790%) hue-rotate(173deg) brightness(98%) contrast(92%);
  }
}
