.WebPageView {
  & .WebPageViewHeader {
    border-bottom: 1px solid var(--grey-light);

    & > h2 {
      margin: 0;
      font-size: var(--webpage-heading-font-size);
      font-weight: var(--webpage-heading-font-weight);
      line-height: var(--webpage-heading-line-height);
      white-space: normal;
      word-wrap: break-word;
    }

    & .online-indicator {
      margin-left: 7pt;
      font-size: 14pt;
      color: var(--highlight-color);

      & i {
        font-size: 14pt;
        margin-right: 4pt;
      }
    }
  }

  & #static-map {
    width: 100%;
    height: 160pt;
    z-index: 0;
  }

  & .isLiveEvent {
    margin-top: 20px;
    margin-bottom: 20px;

    & a {
      display: block;
      position: relative;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--orange);
        animation: pulsate-event 2s infinite;
        z-index: -1;
        border-radius: var(--border-radius);
      }
    }

    & .btn {
      border-color: var(--orange);
      color: var(--orange);
      width: 100%;

      &:hover,
      &:focus {
        color: var(--white);
        background-color: var(--orange);
      }
    }
  }

  & .FullModal.Lighthouse .Form .Textarea + label,
  & .Comments .Form .Textarea + label {
    display: none;
  }

  & .FullModal.Lighthouse .Form .Textarea:not(.en),
  & .Comments .Form .Textarea:not(.en) {
    display: none;
  }

  & .logo {
    margin-top: 10px;
    max-height: 200px;
    transition: opacity 0.5s;
    color: var(--grey-light);
    background: var(--white);
    margin-right: 0;

    & img {
      max-height: 200px;
      position: relative;
      border-radius: var(--border-radius);
      object-fit: cover;
    }
  }

  & .SocialLinks {
    margin-top: 15px;
    float: right;
  }

  & iframe,
  & img {
    max-width: 100%;
  }

  & .information {
    display: flex;

    & .boxedLink {
      width: 100%;
      display: block;
      text-align: center;
      background-color: var(--blue-lightest);
      border-radius: 2px;
      padding: 5px;
      font-weight: bold;
    }

    & .awardImage {
      height: 50px;
      margin-top: 15px;
      margin-right: 15px;
    }

    & .main {
      flex: 2;

      & p {
        color: var(--grey-dark);
      }

      & h3 {
        border-bottom: 1px solid var(--grey-light);
        padding: 10px 0;
        margin-bottom: 5px;
        font-size: 1.3rem;
      }
    }
  }

  & .react-tabs {
    & .hint {
      font-size: var(--font-size-small);
    }

    & .react-tabs__tab-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      & .react-tabs__tab {
        display: inline-block;
        cursor: pointer;
        font-size: var(--font-size-small);

        &.react-tabs__tab--selected {
          color: var(--blue-dark);
          display: none;
        }

        &:hover span {
          color: var(--orange);
        }
      }
    }
  }
}

@keyframes pulsate-event {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(1.04, 1.5);
    opacity: 0;
  }
}
