.webPageWrapper {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  padding-top: 40px;
  color: var(--blue-dark);
  background-image: url("/public/map-bg.png");
  background-size: cover;
  background-position: center center;

  & a[data-show] {
    display: none;

    &.show {
      display: inline-block;
    }
  }

  & > .WebPage {
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 2px;
    max-width: 800px;
    border: 1px solid var(--blue-dark);
    margin-bottom: 20px;

    & .webPageContent {
      padding: 20px var(--webpage-padding);
      padding-bottom: 40px;

      & h1 {
        margin-top: 0;
      }

      & > b {
        font-size: 0.9rem;
      }

      & table {
        border-collapse: collapse;
        max-width: 100%;
        width: 100%;
        margin-top: 20px;

        & tr {
          display: flex;
          flex: 1;
          border-bottom: 1px solid var(--blue-lightest);

          &:first-child {
            border-top: 1px solid var(--blue-lightest);
          }

          & td:first-child {
            max-width: 30%;
            min-width: 30%;
            padding-right: 5px;
            font-weight: bold;
            color: var(--blue-dark);
            vertical-align: top;
          }
        }

        & td {
          width: 100%;
          padding: 10px 0;

          & ul:first-child {
            padding-left: 15px;
          }
        }
      }
    }
  }

  @media print {
    position: relative;
    background-color: var(--white);
    padding: 0;

    & > .WebPage {
      margin-bottom: 0;
      min-width: 100%;
      border: none;
      border-radius: 0;
    }

    & .Comments form,
    & .SocialLinks,
    & .WebPageUserActions {
      display: none;
    }
  }

  @media screen and (--mobile-breakpoint) {
    padding: 0;

    & > .WebPage {
      margin-bottom: 0;
      border: none;
      border-radius: 0;

      & .webPageContent {
        padding: 20px;
      }
    }
  }
}
