.WebPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px 17px 40px;
  font-size: var(--font-size-xs);

  & .Metadata i {
    margin-right: 0.4em;
    font-size: var(--font-size);
  }

  & .webPageActions {
    & .action {
      display: inline-block;
      margin-right: 15px;

      & > a {
        font-size: var(--font-size);
      }

      &:last-child {
        margin-right: 0;
      }

      & .closePage {
        font-size: 28px;
        font-weight: 600;
        color: var(--grey-light);
        line-height: 0;
        position: relative;
        top: 4px;

        &:hover,
        &:focus {
          color: var(--orange);
        }
      }
    }
  }
}
