{% include i18n.html bundle='ui' %}
<!doctype html>
<html lang="en">
  <head>

    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />


    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" />

    <script>
      const ENVIRONMENT = "{{jekyll.environment}}";
      const LANG = "{{i18n_lang}}";
      const SUPPORTED_LANGUAGES = "{{supported_languages}}".split(",")
    </script>
    <script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

  </head>
  <body class="static">

    <div data-inject-header></div>

    <div class="static-content {{ page.class }}">

      {{ content }}

      {% include _newsletter/subscribe-section.html %}

      {% include footer.html %}

    </div>
  </body>
</html>
