{% include i18n.html bundle='ui' %}
<!doctype html>
<html lang="en">
  <head>

    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" />


    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />


    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" />


    <script>
      const ENVIRONMENT = "{{jekyll.environment}}";
      const LANG = "{{i18n_lang}}";
      const SUPPORTED_LANGUAGES = "{{supported_languages}}".split(",")
    </script>

    {% if jekyll.environment == "production" %}
      <script src="{{ site.baseurl }}/assets/js/bundle.js"></script>
    {% endif %}

    {% if jekyll.environment == "development" %}
      <script src="http://localhost:8080{{ site.baseurl }}/assets/js/bundle.js"></script>
    {% endif %}

  </head>
  <body class="static">

    <div data-inject-header></div>

    <div class="static-content {{ page.class }}">

      <section id="description" class="explanation sectionLanding">
        <div class="innerLanding">
          <div class="info">
            <h1>This page has moved.</h1>
            <p>
              <a href="{{ page.redirect_to }}">Click here if you are not automatically redirected.<a>
              <script>location='{{ page.redirect_to }}'</script>
            </p>
          </div>
        </div>
      </section>

      {% include _newsletter/subscribe-section.html %}

      {% include footer.html %}

    </div>
  </body>
</html>
