<footer class="pageFooter">

  <section
    id="footer"
    class="pageSection bg-grey-lightest wide v-xs h-xs text-grey"
  >
    <div class="inner cf">

      <div class="left">

        <a
          href="https://creativecommons.org/licenses/by/4.0/"
          style="font-size: 1.3em; margin-right: .8em; letter-spacing: .1em; display: inline-block; position: relative; top: .2em;"
        >
          <i class="fa-brands fa-creative-commons"></i>
          <i class="fa-brands fa-creative-commons-by"></i>
        </a>

        <a href="/imprint">{{i18n_strings['main.imprintPrivacy']}}</a>

        <a href="/about">{{i18n_strings['main.about']}}</a>

        <a href="mailto:support@oerworldmap.org">support@oerworldmap.org</a>

        <a
          href="https://twitter.com/OERinfo"
          title="Twitter"
          target="_blank"
          rel="noopener noreferrer"
          style="margin-right: .3em;"
        >
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          href="https://bildung.social/@oerinfo"
          title="Fediverse"
          target="_blank"
          rel="noopener noreferrer"
          style="margin-right: .3em;"
        >
          <i class="fediverse"></i>
        </a>
        <a
          href="https://gitlab.com/oer-world-map/oerworldmap/"
          title="Gitlab"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-github"></i>
        </a>

      </div>

      <div class="right">

        <a href="#" class="btn hack-hover-invert-grey-lightest-background">{{i18n_strings['other.backToTop']}}</a>

      </div>

    </div>
  </section>

</footer>

{% if site.env.MATOMO_ID %}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ site.env.MATOMO_URL }}";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{ site.env.MATOMO_ID }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endif %}
