* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

html,
body {
  height: 100%;
}

hr {
  border: none;
  border-top: 1px solid var(--grey-light);
  margin: var(--p-margin) 0;

  &:first-child {
    margin-top: 0;
  }
}

button,
[role="button"] {
  cursor: pointer;
}

/* Forms */

input,
textarea,
button,
select {
  font-family: inherit;
  letter-spacing: inherit;
}

select,
[role="button"] {
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: var(--border-radius);
  color: var(--action-color);
  font-size: var(--font-size-small);
  line-height: var(--line-height-forms);
  background-color: var(--white);
  border: 1px solid var(--action-color);
  font-weight: 600;
  text-decoration: none !important;

  &:focus,
  &:hover,
  &:active {
    color: var(--white);
    background-color: var(--action-color);
    outline: none;
  }

  &.xl {
    font-size: var(--font-size-xl);
  }

  &.with-bg {
    color: var(--blue-dark);
    background-color: var(--blue-lightest);
    border: none;
  }

  &.expand {
    padding-right: 40px !important;
    position: relative;

    &::before {
      font-family: FontAwesome;
      content: "\f078";
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      font-size: 0.8rem;
    }
  }

  &.active {
    color: var(--white);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
  }

  &.clear {
    border: 2px solid var(--blue);
    background-color: var(--white);
    color: var(--blue-dark);
    padding: 6px 15px;
  }

  &.icon {
    border: none;
    padding: 0;

    &:focus,
    &:hover,
    &:active {
      color: var(--highlight-color);
      background-color: transparent;
    }
  }

  & i {
    margin-right: 6pt;
  }
}

input,
textarea {
  padding: 6px 8px;
  border: 1px solid var(--blue-light);
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--primary-color);
  line-height: var(--line-height-forms);

  &::placeholder {
    color: var(--grey);
  }

  &:focus {
    outline: none;
    background-color: color-mix(var(--primary-color) alpha(-90%));
  }
}

input[type="checkbox"]:focus {
  outline: 1px dotted var(--grey);
}

.no-border-select {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  margin: 0 0.1em;
  z-index: 0;
  cursor: pointer;

  & select {
    appearance: none;
    background: none;
    border: none;
  }

  &::before {
    font-family: FontAwesome;
    font-size: 0.7em;
    content: "\f078";
    color: var(--blue-light);
    position: absolute;
    right: 0;
    top: 0.3em;
    z-index: -1;
  }
}

.dropdownToggle {
  & i:first-child {
    padding-right: 10px;
  }
}

.bottom-grid {
  margin-bottom: 20px;
}

.alignRight {
  color: rgb(0 70 120);
  text-align: right;
  font-size: 12.8px;
  font-size: 0.8rem;
}

pre {
  white-space: pre-wrap;
}

.Tooltip {
  padding: 10px;
  background-color: #646464;
  border-radius: 2px;
  color: white;
  font-size: 0.9rem;
}

.hidden {
  display: none !important;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container {
    display: block;
    overflow: visible;

    & .content {
      overflow: visible;
      background: var(--white);

      & .ResourceIndex.countryView {
        & .Columns {
          display: none;
        }
      }
    }
  }
}

/* lined list */

.linedList {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    border-bottom: 1px solid var(--grey-light);
    padding: 0.35em 0;

    &:last-child {
      border-bottom: none;
    }

    & a {
      display: block;
      color: var(--primary-color);

      &:hover {
        color: var(--highlight-color);
      }

      &.item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & > i,
        & > .i {
          line-height: inherit;
          display: block;
          width: 2.5em;
          text-align: center;

          & img {
            position: relative;
            top: 0.15em;
          }
        }

        & > span {
          flex: 1;
          min-width: 0;
        }
      }
    }
  }
}

a.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & > i,
  & > .i {
    line-height: inherit;
    display: block;
    width: 2.5em;

    & img {
      position: relative;
      top: 0.15em;
    }
  }

  & > span {
    flex: 1;
    min-width: 0;
  }
}

.iconItem {
  & i,
  & .i {
    margin-right: 0.5em;
  }

  & .i {
    display: inline-block;

    & img {
      position: relative;
      top: 0.15em;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid var(--grey-light);
}

.tooltipDisableEvents {
  pointer-events: none;
  opacity: 1;
  font-size: 10px;
  letter-spacing: 0.08em;
}

/* comma separated list */

.commaSeparatedList {
  display: inline;
  padding: 0;

  & li {
    display: inline;
    padding: 0;

    &::before {
      content: ", ";
    }

    &:first-child::before {
      content: "";
    }

    & a {
      font-weight: 600;
    }
  }
}

/* space separated list */

.spaceSeparatedList {
  display: inline;
  padding: 0;

  & li {
    display: inline;
    padding: 0;

    &::before {
      content: " ";
      letter-spacing: 0.8em;
    }

    &:first-child::before {
      content: "";
    }

    & a {
      font-weight: 600;
    }
  }
}

/* unstyled list */

.unstyledList {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* dropdown */

.dropdownParent {
  position: relative;

  & .dropdownMenu {
    z-index: 500;
    width: 200px;
    border: 1px solid var(--blue-dark);
    border-radius: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    font-size: var(--font-size);
    color: var(--blue-dark);
    background-color: var(--white);
    position: absolute;
    right: 0;

    & li {
      border-bottom: 1px solid var(--grey-light);

      & a,
      & button {
        width: calc(100% + 20px);
        padding: 6px 10px;
        margin: -1px -10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--blue-dark);
        border: none;
        background-color: transparent;

        &:hover,
        &:focus {
          color: var(--white);
          background-color: var(--blue-dark);
        }
      }

      &:last-child {
        border-bottom: none;

        & a,
        & button {
          padding-bottom: 8px;
        }
      }
    }
  }

  @media screen and (--mobile-breakpoint) {
    position: unset;
  }
}

/* bordered sections */

.border-top {
  border-top: 1px solid var(--grey-light);
}

/* license image */

.licenseImage {
  height: 25px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

@media print {
  @page {
    margin: 0;
  }
}
