.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;

  &.vertical-guttered {
    margin-bottom: -20px;

    & .col {
      margin-bottom: 20px;
    }
  }

  & .col {
    flex: 1;
    padding: 0 10px;

    &.grow-2 {
      flex-grow: 2;
    }

    &.half {
      flex-basis: 50%;
      max-width: 50%;
    }

    &.one-third {
      flex-basis: 33.3333%;
      max-width: 33.3333%;
    }

    &.two-third {
      flex-basis: 66.6667%;
      max-width: 66.6667%;
    }

    &.one-fourth {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  &.auto {
    flex-wrap: nowrap;

    & .col {
      flex: 0 1 auto;
    }
  }

  &.gutter-30 {
    margin: 0 -15px;

    & .col {
      padding: 0 15px;
    }
  }

  &.gutter-40 {
    margin: 0 -20px;

    & .col {
      padding: 0 20px;
    }
  }

  &.stack-700 {
    @media screen and (width < 700px) {
      & .col {
        flex-basis: 100%;
        max-width: 100%;
      }

      &.stack-gutter-2em .col {
        margin-bottom: 2em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media print {
      & .col {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &.stack-560 {
    @media screen and (width < 560px) {
      & .col {
        flex-basis: 100%;
        max-width: 100%;
      }

      &.stack-gutter-2em .col {
        margin-bottom: 2em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.wrap-1024-basis-130px {
    @media screen and (width < 1024px) {
      & .col {
        flex-basis: 130px;
      }

      &.stack-gutter-2em {
        margin-top: -2em;
        margin-bottom: -2em;

        & .col {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }

      &.stack-gutter-1dot5em {
        margin-top: -1.5em;
        margin-bottom: -1.5em;

        & .col {
          padding-top: 0.75em;
          padding-bottom: 0.75em;
        }
      }
    }
  }

  &.wrap-1024-basis-25 {
    @media screen and (width < 1024px) {
      & .col {
        flex-basis: 25%;
      }

      &.stack-gutter-2em .col {
        margin-top: 2em;

        &:nth-child(-n + 4) {
          margin-top: 0;
        }
      }
    }
  }

  &.wrap-560-basis-33 {
    @media screen and (width < 560px) {
      & .col {
        flex-basis: 33.3333%;
      }

      &.stack-gutter-2em .col {
        margin-top: 2em;

        &:nth-child(-n + 3) {
          margin-top: 0;
        }

        &:nth-child(4) {
          margin-top: 2em;
        }
      }
    }
  }
}
