/* --- clearfix --- */

.cf::before,
.cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

/* --- text align --- */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* --- named rules --- */

.display-block {
  display: block;
}

.width-100 {
  width: 100%;
}

/* --- distribute vertical --- */

.distribute-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* --- hover --- */

.visible-hover {
  display: none;
}

a,
button {
  &:hover {
    & .visible-hover {
      display: initial;
    }
    & .hidden-hover {
      display: none;
    }
  }

  /* --- active --- */
  &.active {
    & .visible-active {
      display: initial;
    }
    & .hidden-active {
      display: none;
    }
  }
}

.visible-active {
  display: none;
}

.visible-hover-focus {
  display: none;
}

a:hover,
a:focus {
  & .visible-hover-focus {
    display: inline;
  }

  & .hidden-hover-focus {
    display: none;
  }
}

/* --- responsive --- */

@media screen and (width < 1024px) {
  .max-1024-top-margin-0 {
    margin-top: 0;
  }
}

.visible-mobile-block {
  display: none !important;

  @media screen and (--mobile-breakpoint) {
    display: block !important;
  }
}

.hidden-mobile {
  @media screen and (--mobile-breakpoint) {
    display: none;
  }
}

.hidden-desktop {
  @media screen and (--desktop-breakpoint) {
    display: none;
  }
}

/* --- print --- */

@media print {
  .print-display-none {
    display: none;
  }
}

.inline {
  display: inline;
}
