.static {
  & .Header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgba(255 255 255 / 50%);
  }

  & .landing {
    & .center {
      text-align: center;
    }

    & .slider {
      width: 540px;
      margin: 0 auto;
      max-width: 85vw;

      & img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 15%);
      }

      &.adaptative img {
        max-height: unset;
      }
    }

    & .blogColumn {
      & img {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
      }

      & .blogMetadata {
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
      }
    }

    & .btnLanding {
      background-color: var(--blue);
      border: 1px solid var(--blue);
      color: var(--white);
      border-radius: 20px;
      font-size: var(--static-font-size);
      padding: 7px 12px;
      cursor: pointer;
      display: inline-block;

      &.clear {
        background-color: var(--white);
        color: var(--blue);
      }

      &:hover,
      &.clear:hover {
        background-color: var(--orange);
        border-color: var(--orange);
        color: var(--white);
      }
    }

    & .sectionLanding {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .innerLanding {
      padding: 0 15px;
      max-width: 1140px;
    }

    & .dual {
      display: grid;
      grid-template-columns: 1fr 540px;
      grid-gap: 125px;

      & .info {
        padding-left: 24px;
        padding-right: 15px;
      }
    }

    & .triple {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 42px;
    }

    & .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }

    @media screen and (width < 768px) {
      & .dual,
      & .triple,
      & .buttons {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }

    & .introduction {
      min-height: calc(100vh - 50px);

      & .innerLanding {
        max-width: 800px;
      }

      & h1 {
        font-size: 3rem;
      }

      & .svgContainer {
        width: 100%;
        height: 400px;
        position: relative;
      }

      & svg {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 100%;
        left: 0;
        top: 0;
      }

      & p {
        font-size: 1.5rem;
      }
    }

    & .explanation {
      & .innerLanding {
        padding: 100px 20px;
      }

      & img {
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 15%);
      }

      & h2 {
        text-align: center;
        font-size: 2.2rem;
        padding-bottom: 40px;
      }
    }
  }

  & .static-content {
    /* typography */

    font-size: var(--static-font-size);

    & .small {
      font-size: var(--static-font-size-small);
    }

    & .large {
      font-size: var(--static-font-size-large);
    }

    & .btn {
      font-size: var(--static-font-size);
      border-width: 2px;
    }

    & .slogan {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 25px;
      font-weight: normal;
    }

    & h1 {
      font-size: var(--font-size-xxxl);
      font-weight: 600;
    }

    & h3 {
      font-size: var(--static-font-size-section-title);
      font-weight: 400;
    }

    & h4 {
      font-size: var(--static-font-size-large);
      font-weight: 600;
    }

    & h5 {
      font-size: var(--static-font-size);
      font-weight: 700;
    }

    p {
      margin: var(--static-p-margin) 0;

      &.top-double {
        margin-top: calc(2 * var(--static-p-margin));
      }

      &.bottom-double {
        margin-bottom: calc(2 * var(--static-p-margin));
      }
    }

    /* markdown */

    & .markdown {
      & h2 {
        margin: 0;
        padding: 1.5em 0 0.5em;
        font-size: var(--static-font-size-section-title);
        font-weight: 400;
        clear: both;
      }

      & h3 {
        font-size: var(--static-font-size-large);
        font-weight: 600;
      }

      & p img {
        float: left;
        margin: 0 1em 1em 0;
      }
    }

    /* page section */

    & .pageSection {
      position: relative;

      & .inner {
        max-width: calc(var(--inner-width) + 2 * var(--static-padding));
        padding: var(--static-padding);
        margin: 0 auto;

        @media screen and (width < 1024px) {
          padding: 10vw 8vw;
        }
      }

      &.bottom-0 .inner {
        padding-bottom: 0;
      }

      &.wide .inner {
        max-width: none;
      }

      &.v-xs .inner {
        padding-top: var(--p-margin);
        padding-bottom: var(--p-margin);
      }

      &.h-xs .inner {
        padding-left: var(--p-margin);
        padding-right: var(--p-margin);
      }
    }

    /* lined list */

    & .linedList li {
      padding: 0.35em 0 !important;
    }

    /* logos */

    & .logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin: 0 -35px;

      & img {
        box-sizing: content-box;
        padding: 0 35px 30px;
      }
    }

    /* footer */

    & .pageFooter {
      margin-top: 1rem;

      & a {
        text-decoration: none;
        margin-right: 1.2em;

        &:last-child {
          margin-right: 0;
        }
      }

      & .left {
        float: left;
        line-height: 36px;
      }

      & .right {
        float: right;
      }

      @media screen and (width < 800px) {
        & .left,
        & .right {
          float: none;
          text-align: center;
        }

        & .left {
          margin-bottom: 0.7em;
        }
      }
    }
  }

  @media print {
    & .pageFooter,
    & a[href="#introduction"],
    & .slogan + p,
    & .btn,
    & #newsletter {
      display: none;
    }
  }

  & .faq,
  & .text {
    & h1,
    & h2 {
      max-width: calc(var(--inner-width) + 2 * var(--static-padding));
      margin: 0 auto;
      padding-bottom: 0.5rem;
      margin-bottom: 0;
      border-bottom: 1px solid var(--blue-light);
    }
    & h1 {
      margin-top: 65px;
    }
    & h2 {
      margin-top: 25px;
    }

    & #newsletter {
      margin-top: 60px;
    }
  }

  & .accordion {
    padding: 0 var(--static-padding);
    margin: 0 auto;

    & h2 {
      max-width: calc(var(--inner-width) + 2 * var(--static-padding));
      padding: 1.5rem 0 !important;
      padding-right: 40px !important;
      border-bottom: 1px solid var(--blue-light);
      position: relative;
      margin: 0 auto;

      &::after {
        content: "+";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
    }

    & h2:first-child {
      padding-top: 0;
    }

    & .accordionContainer {
      max-width: calc(var(--inner-width) + 2 * var(--static-padding));
      height: 0;
      overflow: hidden;
      margin: 0 auto;
    }

    &.active {
      background-color: var(--grey-lightest);

      & h2 {
        border-bottom: none;

        &::after {
          content: "–";
        }
      }

      & .accordionContainer {
        height: 100%;
      }
    }
  }

  & .oerPolicies {
    max-width: 1188px;
    max-width: calc(var(--inner-width) + 2 * var(--static-padding));
    position: relative;
    margin: 5px auto 0;

    & .policiesStatistics {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & .graphsContainer {
      text-align: center;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

      & h2 {
        text-align: left;
      }
    }
  }

  & .text {
    & p,
    & div,
    & ul,
    & h3,
    & h4,
    & h5,
    & h6 {
      max-width: 1188px;
      max-width: calc(var(--inner-width) + 2 * var(--static-padding));
      position: relative;
      margin: 5px auto 0;
    }
    & h3 {
      margin: 0.5rem auto 0;
    }
  }

  /* logos */
  & .fediverse {
    content: url("../../docs/assets/images/fediverse-grey.png");
    height: 18px;
    display: inline-block;
  }
}
