:root {
  /* colors */

  --blue-darkest: #051d2e;
  --blue-dark: #0f578a;
  --blue: #1a91e6;
  --blue-light: #75bdf0;
  --blue-lightest: #d1e9fa;

  --yellow: #ffe600;
  --green: #97c639;
  --red: #e15636;
  --orange: #ff8000;
  --orange-light: #f93;

  --white: #fff;
  --black: #000;

  --grey-dark: #666;
  --grey: #999;
  --grey-light: #ccc;
  --grey-lightest: #f5f5f5;

  /* named colors */

  --primary-color: var(--blue-dark);
  --action-color: var(--blue);
  --highlight-color: var(--orange);

  /* typography */

  --font-family: "Source Sans Pro", futura-pt, sans-serif;

  --font-size-xs: 12px;
  --font-size-small: 13px;
  --font-size: 15px;
  --font-size-large: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 42px;

  --line-height: 1.4;
  --line-height-px: calc(var(--line-height) * var(--font-size));
  --line-height-forms: 1.15;

  /* layout and containers */

  --inner-width: 988px;
  --header-padding: 15px;
  --static-padding: 100px;

  /* gaps and margins */

  --p-margin: 1.2em;
  --column-padding: 20px;

  /* borders */

  --border-radius: 2px;

  /* static */

  --static-font-size: var(--font-size-large);
  --static-font-size-small: var(--font-size);
  --static-font-size-large: var(--font-size-xl);
  --static-font-size-section-title: var(--font-size-xxl);
  --static-p-margin: 1em;

  /* webpage */

  --webpage-padding: 40px;
  --webpage-heading-font-size: 36px;
  --webpage-heading-font-weight: 400;
  --webpage-heading-line-height: 45px;
}

/* media queries */

@custom-media --mobile-breakpoint (max-width: 700px);
@custom-media --desktop-breakpoint (min-width: 701px);
