---
title: Page Not Found
layout: page
class: landing
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>😕 Page Not Found</h1>
      <p>Sorry, the page you are looking for does not exist.</p>
      <p>If you believe this is an error, please <a href="mailto:support@oerworldmap.org">let us know</a>.</p>
    </div>

    <div class="buttons">
      <a class="btnLanding clear" href="/">Back to home</a>
      <a class="btnLanding" href="/resource/">Enter the map</a>
    </div>
  </div>

</section>
