---
title: Leaving the OER World Map
layout: page
class: landing
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>Leaving the OER World Map</h1>
      <p>Do you really want to leave the OER World Map? Deleting your user profile and its connections to other records is not reversible.</p>
      <p>Please contact <a href="mailto:support@oerworldmap.org">support@oerworldmap.org</a> for any questions or inquiries.</a>
    </div>

    <div style="display: flex; flex-direction: column; align-items: left; margin-bottom: 12pt;">
       <label style="margin-bottom: .5em">We would appreciate if you could give us a hint or an explanation:</label>
       <div style="display: flex; column-gap: 2pt; margin-bottom: .5em">
        <input id="not-active-anymore" name="reason" type="checkbox" value="not-active-anymore"></input>
        <label for="not-active-anymore">I am no longer active in the OER field.</label>
       </div>
       <div style="display: flex; column-gap: 2pt; margin-bottom: .5em">
        <input id="gone-elsewhere" name="reason" type="checkbox" value="gone-elsewhere"></input>
        <label for="gone-elsewhere">I communicate my OER activities elsewhere.</label>
       </div>
       <textarea name="reason-freetext" id="reason-freetext"></textarea>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <a style="width: fit-content; margin-bottom: 2pt;" class="btnLanding" id="delete-link" onclick="triggerDelete()">
        Delete my user account and my profile.
      </a>
      <span id="delete-progress">
      </span>
    </div>

  </div>

</section>
<script lang="javascript">
function triggerDelete() {
    const urlParams = new URLSearchParams(window.location.search);
    const username = urlParams.get('username');
    const token = urlParams.get('token');
    var reasonText = '';
    for (reason of document.getElementsByName('reason')) {
      if (reason.checked) {
        reasonText += reason.value + ', ';
      }
    }
    reasonText += document.getElementById('reason-freetext').value;
    url = `/user/token?username=${encodeURIComponent(username)}&token=${encodeURIComponent(token)}&reason=${encodeURIComponent(reasonText.trim())}`;
    const request = new XMLHttpRequest();
    const deleteProgress = document.getElementById('delete-progress');
    deleteProgress.innerText = 'Deletion in progress. This may take a while';
    request.open("DELETE", url, false);
    request.setRequestHeader('Accept', 'application/json')
    request.send(null);
    
    if (request.status === 200) {
      deleteProgress.innerText = 'Deletion successful';
      deleteProgress.style.color = "#000000";
    } else if (request.status === 403) {
      deleteProgress.innerText = 'Error: Token invalid or profile already deleted';
      deleteProgress.style.color = "#ff0000";
    } else {
      deleteProgress.innerText = 'Deletion failed. Please contact support@oerworldmap.org with this information: Status: ' + request.status + '<br/>Response: ' + request.responseText;
      deleteProgress.style.color = "#ff0000";
    }
}
</script>
