---
title: Verlasse die OER World Map
layout: page
class: landing
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>Verlasse die OER World Map</h1>
      <p>Möchten Sie wirklich die OER World Map verlassen? Das Löschen des Nutzerprofils und seiner Relationen zu anderen Eintragungen kann nicht rückgängig gemacht werden.</p>
      <p>Kontaktieren Sie gerne <a href="mailto:support@oerworldmap.org">support@oerworldmap.org</a> für Fragen.</a>
    </div>

    <div style="display: flex; flex-direction: column; align-items: left; margin-bottom: 12pt;">
       <label style="margin-bottom: .5em">Wir würden uns freuen, wenn Sie uns einen Hinweis oder eine Erklärung geben könnten:</label>
       <div style="display: flex; column-gap: 2pt; margin-bottom: .5em">
        <input id="not-active-anymore" name="reason" type="checkbox" value="not-active-anymore"></input>
        <label for="not-active-anymore">Bin nicht mehr im OER Thema aktiv</label>
       </div>
       <div style="display: flex; column-gap: 2pt; margin-bottom: .5em">
        <input id="gone-elsewhere" name="reason" type="checkbox" value="gone-elsewhere"></input>
        <label for="gone-elsewhere">Kommuniziere meine OER-Aktivitäten woanders</label>
       </div>
       <textarea name="reason-freetext" id="reason-freetext"></textarea>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <a style="width: fit-content; margin-bottom: 2pt;" class="btnLanding" id="delete-link" onclick="triggerDelete()">
        Lösche mein Nutzerkonto und mein Profil.
      </a>
      <span id="delete-progress">
      </span>
    </div>

  </div>

</section>
<script lang="javascript">
function triggerDelete() {
    const urlParams = new URLSearchParams(window.location.search);
    const username = urlParams.get('username');
    const token = urlParams.get('token');
    var reasonText = '';
    for (reason of document.getElementsByName('reason')) {
      if (reason.checked) {
        reasonText += reason.value + ', ';
      }
    }
    reasonText += document.getElementById('reason-freetext').value;
    url = `/user/token?username=${encodeURIComponent(username)}&token=${encodeURIComponent(token)}&reason=${encodeURIComponent(reasonText.trim())}`;
    const request = new XMLHttpRequest();
    const deleteProgress = document.getElementById('delete-progress');
    deleteProgress.innerText = 'Löschung im Gange. Dies kann eine Weile dauern.';
    request.open("DELETE", url, false);
    request.setRequestHeader('Accept', 'application/json')
    request.send(null);
    
    if (request.status === 200) {
      deleteProgress.innerText = 'Löschung erfolgreich';
      deleteProgress.style.color = "#000000";
    } else if (request.status === 403) {
      deleteProgress.innerText = 'Fehler: Ungültiger Token oder Profil bereits gelöscht';
      deleteProgress.style.color = "#ff0000";
    } else {
      deleteProgress.innerText = 'Löschung fehlgeschlagen. Bitten kontaktieren Sie support@oerworldmap.org mit diesen Informationen: Status: ' + request.status + '<br/>Response: ' + request.responseText;
      deleteProgress.style.color = "#ff0000";
    }
}
</script>
