---
title: OER World Map
layout: page
class: landing
permalink: index.de.html
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>Die OER World Map</h1>
      <p>ermöglicht den Austausch von Wissen, Erfahrungen und Daten zu offenen Bildungsressourcen zwischen Einzelpersonen und Communities.</p>
    </div>

    <div class="buttons">
      <a class="btnLanding" href="#description">
        <i class="fa fa-arrow-down"></i>
        &nbsp;
        Mehr erfahren
      </a>
      <a class="btnLanding clear" href="/resource/?language=de">Zur Karte</a>
    </div>

  </div>

</section>

<section id="description" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>Was ist die OER World Map?</h2>

    <div class="dual">
      <div class="info">
        <p>
          Die OER World Map ist der Ort im Internet, an dem jeder sein Wissen erweitern, Informationen und Erfahrungen austauschen und Daten zu OER-Initiativen sammeln kann.
        </p>

        <p>Jeder kann auf die Informationen auf der Weltkarte zugreifen, dazu beitragen und sie sammeln.</p>
        <a href="#mission" class="btnLanding">
          <i class="fa fa-arrow-down"></i>
          Unser Ziel
        </a>
      </div>

      <div>
        <img
          src="{{ site.baseurl }}/assets/img/landingpage/resources.gif"
          alt=""
        >
        <div class="center">
          <a href="/resource/?language=de">
            <i class="fa fa-map"></i>
            Erkunden Sie die Karte
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="mission" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>Unser Ziel</h2>

    <div>
      <div class="info">
        <p>Unser Ziel ist es, OER-Initiativen auf der ganzen Welt abzubilden, um die Wissenserweiterung und den Austausch von Informationen, Erfahrungen und Daten zwischen Einzelpersonen und Communities zu erleichtern.</p>
        <p>Wir glauben, dass Offene Bildung das Potenzial hat, die Bildung für alle zu verbessern und demokratische Teilhabe, nachhaltige Entwicklung und soziale Gerechtigkeit zu fördern. Anderen dabei zu helfen, Bildung, ihre Institutionen, Praktiken und Ressourcen zu öffnen und zu verändern, ist was uns jeden Morgen antreibt.</p>
        <a href="#getInvolved" class="btnLanding">
            <i class="fa fa-arrow-down"></i>
            Mach mit
          </a>

      </div>
    </div>

  </div>
</section>


<section id="getInvolved" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>Mach mit</h2>

    <div class="triple">

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_lightbulb_1262980_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Finde die Arbeit anderer</h4>
        <p>Durchsuche die Karte nach Informationen zu Diensten, um geeignete OER zu finden, die eine inklusive und gleichberechtigte Bildung von hoher Qualität gewährleisten und Möglichkeiten des lebenslangen Lernens für alle fördern. Oder finde Tools zum Erstellen und Teilen deiner Werke. Finde Veranstaltungen, um dein Wissen zu erweitern, oder suche nach einem Projekt in einer bestimmten Region, einem Forschungsbereich oder einem Bildungssektor.</p>
      </div>

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_rocket_1710282_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Mach Deine eigene Arbeit sichtbar</h4>
        <p>Teile Deine eigene Arbeit als offener Pädagoge, Forscher oder politischer Entscheidungsträger und mache Deine Dienste, Tools oder Veranstaltungen sichtbarer oder lass andere Deine Projektwebsite entdecken. Füge Informationen zu Personen, Organisationen oder Netzwerken hinzu, um Wissensgraphen zu ermöglichen. Andere können Dich nachschlagen und aus dem, woran Du arbeitest, lernen.</p>
      </div>

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_map_2324659_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Verschaffe Dir einen Überblick über die OER-Landschaft</h4>
        <p>Sammle Daten zu bestimmten Regionen oder Themen, um Deine Recherche zu erleichtern oder Argumente zur Unterstützung von Entscheidungsprozessen zu finden. Finde Richtlinien anderer Institutionen und nimm Kontakt mit deren Ersteller auf.</p>
      </div>
    </div>

    <div class="center">
      <h4 style="text-align:center;">Bereit?</h4>

      <a href="/.login" class="btnLanding" style="padding:20px 40px">Jetzt mitmachen</a>
    </div>

    <div class="center" style="margin-top:40px;">
      <p style="font-size:12px;color:grey;">Icons von nounproject: <a href="https://thenounproject.com/search/?q=rocket&i=1710282">rocket von Weltenraser</a>, <a href="https://thenounproject.com/search/?q=lightbulb&i=1262980">lightbulb von Maxim Kulikov</a>, <a href="https://thenounproject.com/search/?q=map&i=2324659">map von Christel Gordon</a>  - Alle Icons frei verfügbar unter <a href="https://creativecommons.org/licenses/by/3.0/us/legalcode" target="_blank">CC BY 3.0 U
</a>.
    </div>

  </div>
</section>

<section class="explanation sectionLanding">
  <div class="innerLanding">

    <h2 id="about">Mehr zur OER World Map</h2>

    <div class="dual">

      <div class="center">
        <h3>Team & Partner</h3>

        <p>Seit 2023 wird die OER World Map aktuell von <a href="https://open-educational-resources.de/">OERinfo | Informationsstelle Open Educational Resources</a> und <a href="https://www.intevation.de/">Intevation GmbH</a>, gefördert durch das <a href="https://www.bmbf.de/bmbf/en/">Bundesministerium für Bildung und Forschung</a>.</p>

	<p>Das OER World Map Team kooperiert eng mit <a href"https://www.oeglobal.org/">Open Education Global</a>.</p>

        <p>Bis 2022 wurde der Aufbau und der Betrieb durch das hbz und die graphthinking GmbH in Zusammenarbeit mit der Open University (UK) durchgeführt, finanziert durch die William and Flora Hewlett Foundation.</p>
      </div>

      <div class="center">
        <h3>Kontaktiere uns</h3>

        <p>Möchtest Du dich beteiligen? Lass uns Kontakt halten! Hast Du Feedback? Wir würden uns freuen, von Dir zu hören. Sende eine E-Mail an <a href="mailto:support@oerworldmap.org">support@oerworldmap.org</a> oder folge uns auf <a href="https://www.linkedin.com/showcase/106474181/">LinkedIn</a>.</p>
      </div>

    </div>

    <div class="center" style="display:none;">
      <a href="/about" class="btnLanding">Über</a>
    </div>

  </div>
</section>
