---
title: OER World Map
layout: page
class: landing
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>The OER World Map</h1>
      <p>Enabling the exchange of knowledge, experience and data on Open Educational Resources among individuals and communities.</p>
    </div>

    <div class="buttons">
      <a class="btnLanding" href="#description">
        <i class="fa fa-arrow-down"></i>
        &nbsp;
        Tell me more
      </a>
      <a class="btnLanding clear" href="/resource/">Enter the map</a>
    </div>

  </div>

</section>

<section id="description" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>What is the OER World Map?</h2>

    <div class="dual">
      <div class="info">
        <p>
          The OER World Map is the place on the web where anyone can expand their knowledge, share information and experiences and collect data on OER initiatives.
        </p>

        <p>Anyone can access, contribute to and collect the information on the World Map.</p>
        <a href="#mission" class="btnLanding">
          <i class="fa fa-arrow-down"></i>
          Our mission
        </a>
      </div>

      <div>
        <img
          src="{{ site.baseurl }}/assets/img/landingpage/resources.gif"
          alt=""
        >
        <div class="center">
          <a href="/resource/">
            <i class="fa fa-map"></i>
            Explore the map
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="mission" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>Our mission</h2>

    <div>
      <div class="info">
        <p>We aim to map OER initiatives around the world to facilitate the expansion of knowledge and the exchange of information, experience and data between individuals and communities.</p>
        <p>We believe that Open Education has the potential to enhance education for all, to foster democratic participation, sustainable development and social justice. Helping others to open and transform education, its institutions, practices and resources is what gets us going every morning.</p>
        <a href="#getInvolved" class="btnLanding">
            <i class="fa fa-arrow-down"></i>
            Get Involved
          </a>

      </div>
    </div>

  </div>
</section>


<section id="getInvolved" class="explanation sectionLanding">
  <div class="innerLanding">

    <h2>Get involved</h2>

    <div class="triple">

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_lightbulb_1262980_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Find the work of others</h4>
        <p>Browse the map for information on services to find suitable OER which ensure inclusive and equitable quality education and promote lifelong learning opportunities for all. Or find tools to create and share your one work. Find events and projects to increase your knowledge or search for a specific project in a certain geographic area, a research field, or an educational sector.</p>
      </div>

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_rocket_1710282_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Make your own work visible</h4>
        <p>Share your own work as an open educator, researcher or policy maker and make your services, tools or events more visible or let others discover your project websites. Add information on people, organisations or networks to enable knowledge graphs. Others will be able to look you up and learn from what you have been working on.</p>
      </div>

      <div class="center">
        <img src="{{ site.baseurl }}/assets/img/landingpage/noun_map_2324659_ccby_30.png" style="width:80px;height:auto;" />
        <h4>Get an overview of the OER landscape</h4>
        <p>Collect data on specific geographic areas or subjects to facilitate your research or  find arguments to support decision-making processes. Find policies from other institutions and get in touch with their facilitators.</p>
      </div>
    </div>

    <div class="center">
      <h4 style="text-align:center;">Ready?</h4>

      <a href="/.login" class="btnLanding" style="padding:20px 40px">Join the community</a>
    </div>

    <div class="center" style="margin-top:40px;">
      <p style="font-size:12px;color:grey;">Icons from nounproject: <a href="https://thenounproject.com/search/?q=rocket&i=1710282">rocket by Weltenraser</a>, <a href="https://thenounproject.com/search/?q=lightbulb&i=1262980">lightbulb by Maxim Kulikov</a>, <a href="https://thenounproject.com/search/?q=map&i=2324659">map by Christel Gordon</a>  - all icons openly available as <a href="https://creativecommons.org/licenses/by/3.0/us/legalcode" target="_blank">CC BY 3.0 U
</a>.
    </div>

  </div>
</section>

<section class="explanation sectionLanding">
  <div class="innerLanding">

    <h2 id="about">More about the OER World Map</h2>

    <div class="dual">

      <div class="center">
        <h3>Team & Partners</h3>

        <p>Since 2023 the World Map is being developed by <a href="https://open-educational-resources.de/">OERinfo | Informationsstelle Open Educational Resources</a> and <a href="https://www.intevation.de/">Intevation GmbH</a>, funded by the <a href="https://www.bmbf.de/bmbf/en/">German Federal Ministry of Education and Research</a>.</p>

	<p>The OER World Map team closely cooperates with <a href"https://www.oeglobal.org/">Open Education Global</a>.</p>

        <p>Until 2022 the World Map was built and run by hbz and graphthinking GmbH in association with The Open University (UK) funded by The William and Flora Hewlett Foundation.</p>
      </div>

      <div class="center">
        <h3>Contact us</h3>

        <p>Want to get involved? Let’s stay in touch! Got feedback? We would love to hear from you. Send an email to <a href="mailto:support@oerworldmap.org">support@oerworldmap.org</a> or follow us on <a href="https://www.linkedin.com/showcase/106474181/">LinkedIn</a>.</p>
      </div>

    </div>

    <div class="center" style="display:none;">
      <a href="/about" class="btnLanding">About</a>
    </div>

  </div>
</section>
