---
title: Welcome back! - OER World Map
layout: page
class: landing
---

<section class="introduction sectionLanding" style="background:url('{{ site.baseurl }}/assets/img/landingpage/worldmap.png');background-position-y: center;background-size:cover;min-height: calc(100vh);">

  <div class="innerLanding" style="background-color:white;border:2px solid #0f578a;padding:40px;">
    <div class="center">
      <h1>Welcome back!</h1>
      <p>Rejoin us to enable the exchange of knowledge, experience and data on Open Educational Resources among individuals and communities.</p>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <a style="width: fit-content; margin-bottom: 2pt;" class="btnLanding" id="reset-link" onclick="triggerreset()">
        Send me instructions via e-mail to set my password
      </a>
      <span id="reset-progress">
      </span>
    </div>

  </div>

</section>
<script lang="javascript">
function triggerreset() {
    const urlParams = new URLSearchParams(window.location.search);
    const username = urlParams.get('username');
    const token = urlParams.get('token');
    url = `/user/token?username=${encodeURIComponent(username)}&token=${encodeURIComponent(token)}`;
    const request = new XMLHttpRequest();
    const resetProgress = document.getElementById('reset-progress');
    resetProgress.innerText = 'Sending the e-mail...';
    request.open("POST", url, false);
    request.setRequestHeader('Accept', 'application/json')
    request.send(null);
    
    if (request.status === 200) {
      resetProgress.innerText = 'Reset e-mail sent successfully';
      resetProgress.style.color = "#000000";
    } else if (request.status === 403) {
      resetProgress.innerText = 'Error: Token invalid or profile already reset';
      resetProgress.style.color = "#ff0000";
    } else {
      resetProgress.innerText = 'Reset failed. Please contact support@oerworldmap.org with this information: Status: ' + request.status + '<br/>Response: ' + request.responseText;
      resetProgress.style.color = "#ff0000";
    }
}
</script>
